<div class="p-1 bg-primary text-white text-center">
  <h1 class="m-0">BoPic</h1>
</div>

<div class="container mt-3 ml-2 mr-2">
  <div class="row">
    <div class=" col-sm-2 d-grid gap-2 mx-auto pb-3">
      <button *ngFor="let cat of categories" type="button" class="btn"
        [class.btn-warning]="cat[1] == 'yellow'"
        [class.btn-dark]="cat[1] == 'navy'"
        [class.btn-secondary]="cat[1] == 'grey'"
        [class.btn-success]="cat[1] == 'green'"
        [class.btn-danger]="cat[1] == 'red'"
        (click)="setCat(cat[2]); drawCard(cat[0])">{{ cat[0] }}
      </button>
      <hr>
      <button type="button" class="btn btn-outline-primary" (click)="rollDice()">Indovinato -> {{ this.dice }}</button>
    </div>
    <div class="col-sm-8">
      <h2>Categoria selezionata: {{ this.catShow }}</h2>
      <p class="fs-2" *ngIf="this.cat == 'P'"> Sfida: <span [class.t-red]="this.card?.p?.value">{{ this.card?.p?.value == 0 ? 'No' : 'Si' }}</span><br> Parola: <span [class.blur]="blur">{{ this.card?.p?.word }}</span><button class="btn btn-sm eye-button" (click)="toggleBlur()">
        <i *ngIf="!blur" class="fas fa-eye"></i>
        <i *ngIf="blur" class="fas fa-eye-slash"></i>
      </button></p>
      <p class="fs-2" *ngIf="this.cat == 'O'"> Sfida: <span [class.t-red]="this.card?.o?.value">{{ this.card?.o?.value == 0 ? 'No' : 'Si' }}</span><br> Parola: <span [class.blur]="blur">{{ this.card?.o?.word }}</span><button class="btn btn-sm eye-button" (click)="toggleBlur()">
        <i *ngIf="!blur" class="fas fa-eye"></i>
        <i *ngIf="blur" class="fas fa-eye-slash"></i>
      </button></p>
      <p class="fs-2" *ngIf="this.cat == 'A'"> Sfida: <span [class.t-red]="this.card?.a?.value">{{ this.card?.a?.value == 0 ? 'No' : 'Si' }}</span><br> Parola: <span [class.blur]="blur">{{ this.card?.a?.word }}</span><button class="btn btn-sm eye-button" (click)="toggleBlur()">
        <i *ngIf="!blur" class="fas fa-eye"></i>
        <i *ngIf="blur" class="fas fa-eye-slash"></i>
      </button></p>
      <p class="fs-2" *ngIf="cat == '?'"> Sfida: <span [class.t-red]="this.card?.u?.value">{{ this.card?.u?.value == 0 ? 'No' : 'Si' }}</span><br> Parola: <span [class.blur]="blur">{{ this.card?.u?.word }}</span><button class="btn btn-sm eye-button" (click)="toggleBlur()">
        <i *ngIf="!blur" class="fas fa-eye"></i>
        <i *ngIf="blur" class="fas fa-eye-slash"></i>
      </button></p>
      <p class="fs-2" *ngIf="this.cat == 'S'"> Sfida: <span class="t-red">Si</span> <br> Parola: <span [class.blur]="blur">{{ this.card?.s?.word }}</span><button class="btn btn-sm eye-button" (click)="toggleBlur()">
        <i *ngIf="!blur" class="fas fa-eye"></i>
        <i *ngIf="blur" class="fas fa-eye-slash"></i>
      </button></p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-progress-bar
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </div>
  </div>
</div>
<div class="footer">
  <p>Fatto dal Moroder con amore</p>
</div>