/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* styles.css o styles.scss */
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Stile per il contenuto principale */
/* Aggiungi il margine inferiore del footer in base all'altezza del footer */
main {
    flex: 1;
    margin-bottom: 50px; /* Altezza del footer */
}


