/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* styles.css o styles.scss */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.5s, color 0.5s;
}

html, body {
    height: 100%;
}

:root {
    --background-light: #ffffff;
    --text-light: #333333;
    --background-dark: #1a1a1a;
    --text-dark: #ffffff;
    
    --button-dark-text: #ffffff; /* Colore del testo in modalità scura */
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.dark-mode .btn.eye-button {
    color: var(--button-dark-text);
}